= render "items/header"
.main
  .main_box
    .main_box_name
      %p 【冷蔵庫管理アプリ】
    - if user_signed_in?
      = link_to items_path do
        .main_box_start
          %span.main_box_start_btn
            スタート
    - else 
      = link_to new_user_registration_path do
        .main_box_start
          %span.main_box_start_btn
            新規登録