.register{
  padding-top: 50px;
  height:calc(100vh - 50px);
  width: 100%;
  background-color: whitesmoke;
  &_box{
    height: 100%;
    width: 300px;
    margin: auto;
    &_titel{
      font-size: 30px;
      font-weight: bold;
    }
  }
}
a{
  color: black;
}